$primary: #ffb800;

.square {
  width: calc(100% + 4rem);
  margin-left: -2rem;
  aspect-ratio: 1 / 1;
  @supports not (aspect-ratio: 1 / 1) {
    &::before {
      float: left;
      padding-top: 100%;
      content: "";
    }
  }
}

.button {
  width: 100%;
  border-radius: 8px;
  background-color: $primary;
  height: 50px;
  margin-top: 16px;
  color: black;
  font-weight: 500;
  border: none;
  font-size: 14px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.borderedButton {
  width: 100%;
  border-radius: 8px;
  background-color: #0c0c0c;
  height: 50px;
  color: $primary;
  margin-top: 16px;
  font-weight: 500;
  border: 1px solid $primary;
  font-size: 14px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
