.main {
  padding: 0 8px;
  padding-top: 48px;
}

.framelist {
  display: flex;
  margin: 0 -48px;
  padding: 0 48px;
  gap: 10px;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.frameContainer {
  width: 295px;
  height: 295px;
  box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.2);
}

.frame {
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1%;
  padding: 30px;
}

.frameThumbnail {
  width: 100px;
  height: 100px;
  box-shadow: none;
}

.item {
  width: 100%;
  position: relative;
  aspect-ratio: 1 / 1;
  @supports not (aspect-ratio: 1 / 1) {
    &::before {
      float: left;
      padding-top: 100%;
      content: "";
    }
  }
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.title {
  font-size: 16px;
  font-weight: 700;
  color: black;
  margin-top: 40px;
  margin-bottom: 16px;
}

.footer {
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  gap: 4px;
  &:disabled {
    background: #777;
  }
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.modal {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 0 8px;
  padding-top: 48px;
}

.close {
  position: absolute;
  top: 6px;
  right: 6px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  font-size: 10px;
  padding: 0;
  border: none;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}