.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
}

.main {
  position: relative;
  width: 100%;
  min-width: 320px;
  max-width: 500px;
  background-image: url(/assets/background.png);
  background-repeat: repeat-y;
  background-size: 100% auto;
  min-height: 100vh;
  overflow: auto;
  padding: 2rem;
  padding-bottom: 6rem;
}

.header_main {
  padding-top: 6rem;
}

.background {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: calc(100vh - 4rem);
  padding: 1rem;
  pointer-events: none;
  display: grid;
  grid-template-columns: 34px 1fr 34px;
  grid-template-rows: 34px 1fr 34px;
  place-items: center;
}

.white {
  background: white;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4rem;
}
