.main {
}

.title {
  font-weight: 700;
  font-size: 20px;
  margin-top: 5rem;
  text-align: center;
}

.contents {
  font-size: 13px;
  line-height: 20px;
  opacity: 0.8;
}

.footer {
  display: grid;
  grid-template-columns: 80px 1fr 80px;
  place-items: center;
  background-color: black;
  height: 100%;
}

.button {
  font-weight: 700;
  border: none;
  background: none;
  color: #ffb800;
  &:disabled {
    color: #777;
  }
}

.images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.upload_button {
  width: 100%;
  aspect-ratio: 1;
  background-color: rgba(255, 255, 255, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  display: none;
}

.uploaded {
  width: 100%;
  aspect-ratio: 1;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  font-size: 10px;
  padding: 0;
  border: none;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}
