$primary: #ffb800;

.main {
  padding-bottom: 4rem;
}

.title {
  font-weight: 700;
  font-size: 20px;
  margin-top: 5rem;
  text-align: center;
  line-height: 28px;
}

.contents {
  font-size: 13px;
  line-height: 20px;
  opacity: 0.8;
  padding-inline-start: 1rem;
}

.footer {
  display: grid;
  grid-template-columns: 80px 1fr 80px;
  place-items: center;
  background-color: black;
  height: 100%;
}

.button {
  font-weight: 700;
  border: none;
  background: none;
  color: #ffb800;
  font-size: 16px;
  &:disabled {
    color: #777;
  }
}

.images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.upload_button {
  width: 100%;
  aspect-ratio: 1 / 1;
  @supports not (aspect-ratio: 1 / 1) {
    &::before {
      float: left;
      padding-top: 100%;
      content: "";
    }
  }
  background-color: rgba(255, 255, 255, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  display: none;
}

.uploaded {
  width: 100%;
  aspect-ratio: 1;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.close {
  position: absolute;
  top: 6px;
  right: 6px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  font-size: 10px;
  padding: 0;
  border: none;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.lenbtncontainer {
  display: flex;
  gap: 6px;
  margin-bottom: 20px;
}

.lenbtn {
  width: 100%;
  padding: 8px 0;
  text-align: center;
  color: $primary;
  border: 1px solid $primary;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 700;
  background: none;
}

.lenbtn.active {
  background-color: $primary;
  color: #0c0c0c;
}

.imageReset {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  line-height: 24px;
  margin-top: 10px;
}

.reset {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  width: 76px;
  height: 26px;
  padding-bottom: 2px;
  position: relative;
  top: 1px;
}

.resetButton {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  position: relative;
  margin-left: 4px;
}

.resetButton img {
  width: 14.9px;
  height: 15px;
  position: absolute;
  top: 4.5px;
  left: 4.55px;
}
